@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #7bdaf3;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.add {
    background-color: #9ec862;
    color: #fff;
    padding: 0.1rem 0.6rem;
    margin: 1.5rem auto;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    position: fixed;
    right: 1rem;
}

.notes {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 300px;
    width: 400px;
    margin-bottom: 40px;
}

.notes .tools {
    background-color: #9ec862;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.notes .tools button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.notes .main {
    background-color: #fff;
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.notes textarea {
    font-family: inherit;
    font-family: 1.2rem;
    width: 100%;
    height: 300px;
    border: none;
    outline: none;
}

.notes .hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    .notes {
        background-color: #fff;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
        margin: 14px;
        height: 300px;
        width: 400px;
        margin-bottom: 0px;
        margin-top: 75px;
    }
}